body {
    background: url(images/soft.jpg) center center no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}




.container {
    background-color: rgb(152, 174, 214);
    border-bottom-left-radius: 50px 20px ;
    border-top-right-radius: 50px 20px;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 10px 10px 5px rgb(173, 164, 164);
    opacity: 95%;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(226, 28, 28));

}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: cornsilk;
    font-size: 25px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(254, 255, 255), 0 0 5px rgb(28, 28, 204);
    text-decoration: underline;
    letter-spacing: 3px;
    margin-top: 10%;

}

.inputs {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: -5%;


}

.inputt {
    border: 0;
    border-bottom: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    outline: none;
    text-align: center;
    width: 150px;
    font-size: 17px;

}

p {
    color: wheat;
    font-size: 20px;
    font-style: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.click {
    font-size: 20px;
    color: rgb(194, 72, 72);
    cursor: pointer;
    border-radius: 8px;
    width: 20%;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 7%;
}

.click:hover {
    background-color: rgb(223, 223, 223);
    border: 2px solid #9e4646;
}

.result h3 {
  
    color: whitesmoke;
    
    
}

.result h4 {
   
    color: whitesmoke;
    
}